/* 清楚默认浏览样式 */
*{
    margin: 0;
    padding: 0;
}
/* 整体跳帧整个播放界面 */
#box-video{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
/* 设置视频样式 */
#box-video video{
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
    background: url(images/3977bk.png) no-repeat center center;
    background-size: cover;
}
/*设置唱片样式  */
@keyframes cdmove{
    from{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    to{transform:rotate(360deg)}
}
@keyframes center-cdmove{
    from{transform: rotate(3600deg);}
    25%{transform: rotate(270deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(90deg);}
    to{transform:rotate(0deg)}
}
.cd{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
    border-radius:50% ;
    border: 10px solid rgb(227, 40, 40);
    box-shadow: 5px 5px 15px #e77878;
    background: url(images/3977.png) no-repeat;/*动画旋转效果 */
    animation-name: cdmove;/*动画姓名 */
    animation-duration: 10s;/*动画时长 */
    animation-timing-function: linear;/*匀速动画 */
    animation-iteration-count: infinite;/*动画次数 */
}
.center{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 3;
    border: 5px soild rgb(207, 53, 53);
    background: #f1f0f0 ,url(images/3977bk.png) no-repeat;
    background-size: cover;
    background-size: 100px 100px;
    animation-name: center-cdmove;/*动画姓名 */
    animation-duration: 10s;/*动画时长 */
    animation-timing-function: linear;/*匀速动画 */
    animation-iteration-count: infinite;/*动画次数 */
}
/* 设置歌词部分样式 */
.song{
    position: absolute;
    top: 20%;
    left: 50%;
}
/* 定义新字体 */
@font-face{
    src: url(font/书体坊米芾体.ttf);
    font-family: MDT;
    font-size: 100px;
    color: rgb(194, 119, 28);
    -webkit-text-stroke: 0.5px rgb(243, 30, 30);/*设置描边颜色 */
}
/* 歌词部分样式 */
p {
    width: 550px;
    height: 300px;
    font-family: "微软雅黑", "Microsoft YaHei", sans-serif;
    padding-left: 30px;
    line-height: 30px;
    
    /* 修正背景：使用线性渐变和图片，注意逗号分隔 */
    background-image: 
        linear-gradient(180deg, rgba(148, 58, 33, 0.824), rgba(218, 245, 247, 0.13)),
        url(images/3977);
    
    background-repeat: no-repeat;
    background-position: center center, bottom right; /* 第一个为渐变位置，第二个为图片位置 */
    background-size: auto, 200px 200px; /* 第一个为渐变大小（auto表示默认），第二个为图片大小 */
    
    box-sizing: border-box;
    overflow: auto;
    
    /* 为了在视频背景上更清晰，可以给文字添加颜色和阴影 */
    color: #333;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
audio{
    opacity: 0.6;
    width: 555px ;
}
h2{
    font-family: MDT;
    font-size: 40px;
    color: rgb(194, 119, 28);
    -webkit-text-stroke: 1px rgb(243, 30, 30);/*设置描边颜色 */
    margin-bottom: 10px;
}
